@import "../common/cssVariables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  min-height: 100vh;
  background-color: $color-neutral-gray-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.app {
  padding: 3.2rem;
}
