@import "../../../common/cssVariables.scss";

.btn-reply {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;

  &--blue {
    color: $color-primary-blue-1;
    fill: $color-primary-blue-1;

    &:hover {
      color: lighten($color-primary-blue-1, 20%);
      fill: lighten($color-primary-blue-1, 20%);
    }
  }
}

.icon {
  transform: scale(1);
}
