@import "../../common/cssVariables.scss";

.comment-container {
  // margin-top: 1.2rem;
  // margin-bottom: 1.2rem;
}

.reply-container {
  // margin-left: 5rem;
  border-left: 2px solid $color-neutral-gray-1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.8rem;
}
