@import "../../common/cssVariables.scss";

.comment-container {
  display: flex;
}

.reply-container {
  justify-self: flex-end;
  margin-left: auto;
  padding-left: 5rem;
  border-left: 2px solid $color-neutral-gray-1;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  @include respond(tab-pot) {
    padding-left: 1rem;
    flex-basis: 99%;
  }
}
