// PRIMARY
$color-primary-blue-1: hsl(238, 40%, 52%);
$color-primary-red-1: hsl(358, 79%, 66%);
$color-primary-blue-2: hsl(239, 57%, 85%);
$color-primary-blue-3: hsla(240, 58%, 85%, 0.16);
$color-primary-red-2: hsl(357, 100%, 86%);

// NEURAL
$color-neutral-blue-1: hsl(212, 24%, 26%);
$color-neutral-blue-2: hsl(211, 10%, 45%);
$color-neutral-gray-1: hsl(223, 19%, 93%);
$color-neutral-gray-2: hsl(228, 33%, 97%);
$color-neutral-white: hsl(0, 0%, 100%);

// MIXINS

@mixin respond($breakpoint) {
  // 750px
  @if $breakpoint == tab-pot {
    @media only screen and (max-width: 47em) {
      @content;
    }
  }

  // 550px
  @if $breakpoint == phone {
    @media only screen and (max-width: 34em) {
      @content;
    }
  }

  // 350px
  @if $breakpoint == phone-min {
    @media only screen and (max-width: 22em) {
      @content;
    }
  }
}
